@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Courgette&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* NavBar  */

.logo {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50%;
    margin: 5px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 60%;
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 18px 24px;

}
.nav-list li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav-list li a:hover{
    color: rgb(146, 208, 229);

}
.rightnav{
    width: 40%;
    text-align: right;
    padding: 0 20px;
}
#search{
    padding: 5px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 7px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url(./img/pexels-pixabay-531602.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
.btn-small{
    padding: 6px 10px;
    vertical-align: middle;
}
.btn-small:hover{
    color: rgb(144, 200, 219);

}

/* section  */

.box-main{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 50%;
    margin: auto;
}
.firstSection{
    height: 75vh;
}
.f-half{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s-half{
    width: 30%;
}
.s-half img {
    width: 70%;
    border: 4px solid white;
    border-radius: 100%;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 35px;
    text-align: center;
    margin-bottom: 8px;
}
.text-small{
    font-size: 17px;
}
.btn{
    padding: 7px 16px;
    margin: 7px 2px;
    border: 2px solid white;
    border-radius: 12px;
    font-size: 13px;
    background: none;
    color: #fff;
    cursor: pointer;
}
.btn a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.btn a:hover{
    color: rgb(246, 167, 130);
}

/* Section 2 */

.section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 11px;
}
.imgFluid{
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 30px;
}
.head{
    padding: 0 60PX;
}
.section-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
}

/* section 3 Contact */
.contact{
    height: 65vh;
    background:url(./img/pexels-pok-rie-130879.jpg);
    background-size: cover;
    margin-top: 4px;
}
.text-center{
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
}
.form{
    max-width: 445px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-input{
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 8px;
}
.btn-dark{
    width: 25%;
    color: rgb(182, 182, 182);
    border:2px solid rgb(171, 171, 171);
    margin: auto 167px;
    margin-top: 7px;
}
.btn-dark:hover{
    
    color: #fff;
    background-color: black; 
    border: 2px solid black;
}
#country{
    margin-top: 15px;
    border: 2px solid black;

}
/* Footer */
.text-footer{
    text-align: center;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
/* HamBurger */

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: #fff;
    height: 4px;
    margin: 5px 3px;
}

